:root {
  font-size: 62.5%; /* Agora 1rem = 1px */
  --background-site: #ffffff;
  --background-container: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 320px) {
  body {
    font-size: 1.6rem;
    background-color: var(--background-site);
  }
  .container {
    background-color: var(--background-container);
  }
}
